@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #ffffff;
}

.navbar {
  height: 5rem;
  background-color: #ff8800;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0%;
}

.nav {
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav a {
  font-size: 2rem;
  text-decoration: none;
  margin: 0rem 1rem;
  color: #ffffff;
  position: relative;
  top: 0%;
  left: 0%;
  -webkit-transition: all 400ms linear;
  transition: all 400ms linear;
  cursor: pointer;
}

.nav a::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0%;
  height: 0.2rem;
  border-radius: 50px;
  width: 0%;
  background-color: #00ffd5;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.nav a:hover {
  color: #000000;
}

.nav a:hover::after {
  width: 100%;
  background-color: #ff8800;
}

.content {
  display: none;
}

@media screen and (max-width: 820px) {
  .nav,
  .navbar {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav {
    -webkit-transition: all 400ms linear;
    transition: all 400ms linear;
  }
  .dFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.loading {
  background-color: #000000;
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: 100vh;
}

#logo {
  -webkit-animation: stroke 5s linear infinite alternate;
          animation: stroke 5s linear infinite alternate;
}

#triangle {
  -webkit-animation: stroke2 5s linear infinite alternate;
          animation: stroke2 5s linear infinite alternate;
}

@-webkit-keyframes stroke {
  from {
    stroke-dasharray: 0px;
    fill: transparent;
  }
  to {
    stroke-dasharray: 75rem;
    fill: #ff0000;
  }
}

@keyframes stroke {
  from {
    stroke-dasharray: 0px;
    fill: transparent;
  }
  to {
    stroke-dasharray: 75rem;
    fill: #ff0000;
  }
}

@-webkit-keyframes stroke2 {
  from {
    stroke-dasharray: 0px;
    fill: transparent;
  }
  to {
    stroke-dasharray: 60rem;
    fill: #ffffff;
  }
}

@keyframes stroke2 {
  from {
    stroke-dasharray: 0px;
    fill: transparent;
  }
  to {
    stroke-dasharray: 60rem;
    fill: #ffffff;
  }
}

.santed {
  height: 87.2vh;
  background-image: linear-gradient(158deg, #ff8800 50%, #ffffff 50%);
}

.home {
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: 87.2vh;
  overflow: hidden;
}

.dFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.one {
  height: 15rem;
  width: 15rem;
  margin: 5rem 5rem;
  -webkit-transform: translateY(-5rem);
          transform: translateY(-5rem);
  -webkit-animation: up-down 2s linear infinite alternate;
          animation: up-down 2s linear infinite alternate;
}

.one img {
  height: 100%;
}

.two {
  height: 15rem;
  width: 15rem;
  margin: 5rem 5rem;
  -webkit-transform: translateY(5rem);
          transform: translateY(5rem);
  animation: up-down 2s linear infinite alternate-reverse;
}

.two img {
  height: 100%;
}

@-webkit-keyframes up-down {
  from {
    -webkit-transform: translateY(-5rem);
            transform: translateY(-5rem);
  }
  to {
    -webkit-transform: translateY(5rem);
            transform: translateY(5rem);
  }
}

@keyframes up-down {
  from {
    -webkit-transform: translateY(-5rem);
            transform: translateY(-5rem);
  }
  to {
    -webkit-transform: translateY(5rem);
            transform: translateY(5rem);
  }
}
/*# sourceMappingURL=style.css.map */